html {
  scroll-behavior: smooth;
}

/* Navbar section */
.navbar-top {
    background-color: #cccccc;
}
.right-aligned{
  display: float
  /* text-align: right */
}
.image{
  display: inline;
  float:right;
  width: 10%;
}
/* Skills*/
#skills {
  position: relative;
  display: inline;
  text-align: center;
}
.nav-link{
  display: block;
  padding: 0;
}

.resume{
  color : red;
  padding: 0 1rem;
}
.resume:hover{
  color:red;
  text-decoration: underline;
}

.skill-box{
  margin-top: 2rem;
  margin-bottom: 2rem;

}
.skill-box:hover{
  color:#0056b3;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.skill-list{
  display: flex;
}

.skill-icon{
  width:4rem;
  height:4rem;
}

.skill-icon:hover{
  background:#0056b3;
  object-fit: cover;
}
/* Footer Section */

.social-icon {
  margin: 20px 10px;
}

#footer{
  text-align: center;
  background-color: #cccccc;
}
